.App {
  margin: auto;
  width: 800px;
  padding-top: 1rem;
}

.title {
  text-align: center;
}
.pokemon_table {
  width: 100%;
}

.search_box {
  width: 100%;
  font-size: x-large;
  padding: 0.2rem;
  margin-bottom: 10px;
}
